h1 {
  margin: 0;
}
.firstLineContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondLineContainer {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 50px;
  gap: 50px;
}

.spanBalance {
  /* color: red; */
}

.newRemittanceCont {
  display: flex;
  max-width: 470px;
  justify-content: start;
}

.textFieldCont {
  /* flex-basis: 100px; */
  margin-right: 25px;
}
