.header {
  /* width: 1440px; */
  height: 100px;
  margin-bottom: 44px;
  background-color: #116acc;
}

.container {
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
}

.title {
  color: #fff;
  font-size: 3em;
}

.navBtn {
  margin-left: 23px;
  padding: 16px 24px;
  height: 52px;
  border: none;
  border-radius: 7px;
  color: #116acc;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}
